/* ------------------------- */
/* - MCA Theme - Variables - */
/* ------------------------- */

/* ------------------------------------------------------------ */
/* - Global values
/* ------------------------------------------------------------ */
// Border
$border-radius: 16px;

// Padding
$spacing-50: 0.15rem;
$spacing-100: 0.3rem;
$spacing-200: 0.9rem;
$spacing-300: 1.25rem;
$spacing-400: 2.5rem;
$spacing-500: 3rem;
$spacing-600: 3.5rem;

$negative-spacing-50: -0.15rem;
$negative-spacing-100: -0.3rem;
$negative-spacing-200: -0.9rem;
$negative-spacing-300: -1.25rem;
$negative-spacing-400: -2.5rem;
$negative-spacing-500: -3rem;
$negative-spacing-600: -3.5rem;

// Titles
$heading-100: 0.9rem;
$heading-200: 1rem;
$heading-300: 1.1rem;
$heading-400: 1.2rem;
$heading-500: 1.3rem;
$heading-600: 1.4rem;

// Text
$text-100: 0.75rem;
$text-200: .85rem;
$text-300: 1rem;
$text-400: 1.15rem;
$text-500: 1.3rem;
$text-600: 1.5rem;
/* ------------------------------------------------------------ */

/* ------------------------------------------------------------ */
/* - Global Colors
/* ------------------------------------------------------------ */
$primary-600: #4a3749;
$primary-500: #594058;
$primary-400: #70556e;
$primary-300: #826881;
$primary-200: #978a96;
$primary-100: #ede8e8;

$accent-600: #6b3f6b;
$accent-500: #804d80;
$accent-400: #996599;
$accent-300: #b594b3;
$accent-200: #dfcede;
$accent-100: #f5f0f4;

$grey-600: #0d0a0c;
$grey-500: #383338;
$grey-400: #4a444a;
$grey-300: #635d63;
$grey-200: #dbdbdb;
$grey-100: #f0f0f0;

$warn-600: #e66117;
$warn-500: #ed7532;
$warn-400: #ff8e2e;
$warn-300: #ffb06d;
$warn-200: #ffd0a7;
$warn-100: #fff3e9;

$success-600: #3da168;
$success-500: #4aba7a;
$success-400: #5ccc8c;
$success-300: #82cca2;
$success-200: #b4e0c6;
$success-100: #e6fff0;

$danger-600: #bf402c;
$danger-500: #d1513d;
$danger-400: #eb7b73;
$danger-300: #f59893;
$danger-200: #f7c8c1;
$danger-100: #fff0ed;
/* ------------------------------------------------------------ */

/* --------------------- */
/* - Shared Components - */
/* --------------------- */

/* ------------------------------------------------------------ */
/* - Card
/* ------------------------------------------------------------ */
$card-background: #fbfaf9;

/* ------------------------------------------------------------ */
