/* ------------------------------------------------------------ */
/* - MCA Theme - Variables
/* ------------------------------------------------------------ */
$primary: #754C29;
$accent: #e5b78f;
$warn: #db6a06;
/* ------------------------------------------------------------ */
