/* ------------------------------------------------------------ */
/* - MCA Theme - Variables
/* ------------------------------------------------------------ */
$primary: #462a28;
$primary-text: #dfc8af;

$secondary: #6b3f3f;
$secondary-text: #d4beaf;

$accent: #996a24;

$warn: #db6a06;

$app-background: #f4eee6;
$card-background: #fbfaf9;
$card-border: #bbb3aa;
/* ------------------------------------------------------------ */
