@import 'mca-theme-variables';
@import '~@taiga-ui/core/styles/taiga-ui-local';

// Colors
:root {
	// Primary
	--tui-text-01: #{$grey-600};
	--tui-text-02: #{$grey-300};
	--tui-text-03: #{$grey-200};

	// Link
	--tui-link: #{$accent-500};
	--tui-link-hover: #{$accent-500};
	--tui-link-active: #{$accent-600};

	// Primary
	--tui-primary: #{$primary-500};
	--tui-primary-hover: #{$primary-400};
	--tui-primary-active: #{$primary-600};

	// Secondary/Accent
	--tui-secondary: #{$accent-100};
	--tui-secondary-hover: #{$accent-200};
	--tui-secondary-active: #{$accent-300};

	// Accent/Secondary
	--tui-accent: #{$accent-500};
	--tui-accent-hover: #{$accent-400};
	--tui-accent-active: #{$accent-600};

	// Positive
	--tui-positive: #{$success-500};
	--tui-positive-hover: #{$success-400};
	--tui-positive-active: #{$success-600};

	// Negative
	--tui-negative: #{$danger-500};
	--tui-negative-hover: #{$danger-400};
	--tui-negative-active: #{$danger-600};
}

// Components

// Buttons
button._focused {
	outline: none;
}

// Button - Secondary active
tui-wrapper[data-appearance='secondary-active'] {
	color: var(--tui-link-hover);
	background-color: var(--tui-secondary-hover);
}

// Button - Flat dark
tui-wrapper[data-appearance='flat-dark'] {
	color: $grey-600;

	&[data-state='hovered'] {
		color: $grey-500;
		background-color: $grey-100;
	}

	&[data-state='pressed'] {
		color: $grey-500;
		background-color: $grey-200;
	}

	&[data-state='disabled'] {
		color: $grey-400;
		background-color: $grey-100;
	}
}

// Button - Primary danger
tui-wrapper[data-appearance='primary-danger'] {
	color: #fff;
	background-color: $danger-500;

	&[data-state='hovered'] {
		background-color: $danger-400;
	}

	&[data-state='pressed'] {
		background-color: $danger-600;
	}

	&[data-state='disabled'] {
		color: $danger-300;
	}
}

// Button - Secondary danger
tui-wrapper[data-appearance='secondary-danger'] {
	color: $danger-500;
	background-color: $danger-100;

	&[data-state='hovered'] {
		background-color: $danger-200;
	}

	&[data-state='pressed'] {
		background-color: $danger-300;
	}

	&[data-state='disabled'] {
		color: $danger-400;
		background-color: $danger-100;
	}
}

// Button - Flat danger
tui-wrapper[data-appearance='flat-danger'] {
	color: $danger-600;

	&[data-state='hovered'] {
		color: $danger-500;
		background-color: $danger-100;
	}

	&[data-state='pressed'] {
		color: $danger-600;
		background-color: $danger-200;
	}

	&[data-state='disabled'] {
		color: $danger-400;
	}
}

// Form
.tui-form__image {
	width: fit-content;
	padding: 0 0 $spacing-200 0;
	margin: 0 auto;
}
