@import 'mca-theme-variables';
@import '~@taiga-ui/core/styles/taiga-ui-local';

// Colors
:root {
	// Primary
	--tui-text-01: #{$grey-600};
	--tui-text-02: #{$grey-300};
	--tui-text-03: #{$grey-200};

	// Link
	--tui-link: #{$accent-500};
	--tui-link-hover: #{$accent-500};
	--tui-link-active: #{$accent-600};

	// Primary
	--tui-primary: #{$primary-500};
	--tui-primary-hover: #{$primary-400};
	--tui-primary-active: #{$primary-600};

	// Secondary/Accent
	--tui-secondary: #{$accent-100};
	--tui-secondary-hover: #{$accent-200};
	--tui-secondary-active: #{$accent-300};

	// Positive
	--tui-positive: #{$success-100};
	--tui-positive-hover: #{$success-200};
	--tui-positive-active: #{$success-300};

	// Negative
	--tui-negative: #{$danger-100};
	--tui-negative-hover: #{$danger-200};
	--tui-negative-active: #{$danger-300};
}

// Components
button._focused {
	outline: none;
}

tui-wrapper[data-appearance='secondary'] {
	// color: var(--tui-text-02);
}

// This goes into global, unencapsulated styles
tui-wrapper[data-appearance='secondary-active'] {
	color: var(--tui-link-hover);
	background-color: var(--tui-secondary-hover);
	// border: 1px solid var(--tui-base-04);

	&[data-state='pressed'] {
		// background-color: var(--tui-secondary);
	}

	&[data-state='disabled'] {
		// background-color: #eaecee;
		// color: var(--tui-secondary-03);
	}
}

tui-wrapper[data-appearance='flat-dark'] {
	color: $grey-600;

	&[data-state='hovered'] {
		color: $grey-500;
		background-color: $grey-100;
	}

	&[data-state='pressed'] {
		color: $grey-500;
		background-color: $grey-200;
	}

	&[data-state='disabled'] {
		color: $grey-400;
		background-color: $grey-100;
	}
}
