<mat-toolbar color="primary" class="nav flex justify-between sticky-top px-4">
  <a
    routerLink="/"
    class="logo">
    <img
      src="/assets/media/mca-logo.svg"
      height="28"
      width="28"
      class="logo__img"
      alt="Coffee cup logo">
    <span class="nav__text">{{ title }}</span>
  </a>

  <button
    mat-icon-button
    class="nav__text"
    aria-label="notifications bell"
    (click)="onNotifications()">
    <mat-icon>notifications</mat-icon>
  </button>

</mat-toolbar>
