@import '../../../../assets/scss/mca-theme-variables';

.listFilterArea {
	display: grid;
	grid-template-columns: 1fr auto;
	gap: $spacing-100;
	margin: 0 $spacing-300 $spacing-400;

	&__advancedFilters {
		display: flex;
		justify-content: flex-end;
		gap: $spacing-100;
		margin: calc(#{$negative-spacing-400} + #{$spacing-200}) $spacing-300 $spacing-400;
	}
}
