<div class="text-right">
  <!-- SHOW FILTERS -->

  <button
    tuiIconButton
    type="button"
    class="tui-space_bottom-3"
    icon="tuiIconFilter"
    appearance="flat"
    (click)="toggleShowFilters()"></button>

  <div class="flex justify-end gap-1 mb-3">

    <!-- SORT BY -->
    <div
      tuiGroup
      class="group"
      [collapsed]="true"
      *ngIf="showFilters">

      <button
        tuiIconButton
        size="m"
        type="button"
        class="tui-group__auto-width-item"
        *ngFor="let option of sortByOptions"
        [icon]="option.value === 'createdAt' ? 'tuiIconCalendar' : 'tuiIconStar'"
        [appearance]="filters.sortBy === option.value ? 'outline-active' : 'outline'"
        title="Sort by {{ option.value === 'createdAt' ? 'date created' : 'rating' }}"
        (click)="onSortBy(option.value)">
      </button>
    </div>


    <!-- SORT DIRECTION -->
    <div
      tuiGroup
      class="group"
      [collapsed]="true"
      *ngIf="showFilters">

      <button
        tuiIconButton
        size="m"
        type="button"
        class="tui-group__auto-width-item"
        *ngFor="let option of sortDirectionOptions"
        [icon]="option.value === 'asc' ? 'tuiIconArrowUp' : 'tuiIconArrowDown'"
        [appearance]="filters.sortDirection === option.value ? 'outline-active' : 'outline'"
        title="Sort in {{ option.value === 'asc' ? 'ascending' : 'descending' }} order"
        (click)="onSortDirection(option.value)">
      </button>
    </div>


    <!-- LAYOUT -->
    <div
      tuiGroup
      class="group"
      [collapsed]="true"
      *ngIf="showFilters">

      <button
        tuiIconButton
        size="m"
        type="button"
        class="tui-group__auto-width-item"
        *ngFor="let option of layoutOptions"
        [icon]="option.value === 'list' ? 'tuiIconViewListLarge' : 'tuiIconStructureLarge'"
        [appearance]="listLayout === option.value ? 'outline-active' : 'outline'"
        title="Change layout to a {{ option.value === 'list' ? 'list' : 'grid' }} type view"
        (click)="onLayout(option.value)">
      </button>
    </div>
  </div>
</div>
