<div class="text-right">
  <!-- SHOW FILTERS -->

  <div class="listFilterArea">
    <tui-input
      class="b-form"
      tuiHintContent="Type 5 letters or more"
      [tuiTextfieldCleaner]="true"
      [(ngModel)]="search"
      icon="tuiIconSearch"
      (ngModelChange)="onSearch()">
      Search...
    </tui-input>

    <button
      tuiIconButton
      type="button"
      icon="tuiIconFilter"
      appearance="secondary"
      (click)="toggleShowFilters()"></button>
  </div>

  <div class="listFilterArea__advancedFilters" *ngIf="showFilters">
    <!-- SORT BY -->
    <div
      tuiGroup
      class="group"
      [collapsed]="true">

      <button
        tuiIconButton
        size="m"
        type="button"
        class="tui-group__auto-width-item"
        *ngFor="let option of sortByOptions"
        [icon]="option.value === 'createdAt' ? 'tuiIconCalendar' : 'tuiIconStar'"
        [appearance]="filters.sortBy === option.value ? 'secondary-active' : 'secondary'"
        title="Sort by {{ option.value === 'createdAt' ? 'date created' : 'rating' }}"
        (click)="onSortBy(option.value)">
      </button>
    </div>


    <!-- SORT DIRECTION -->
    <div
      tuiGroup
      class="group"
      [collapsed]="true">

      <button
        tuiIconButton
        size="m"
        type="button"
        class="tui-group__auto-width-item"
        *ngFor="let option of sortDirectionOptions"
        [icon]="option.value === 'asc' ? 'tuiIconArrowUp' : 'tuiIconArrowDown'"
        [appearance]="filters.sortDirection === option.value ? 'secondary-active' : 'secondary'"
        title="Sort in {{ option.value === 'asc' ? 'ascending' : 'descending' }} order"
        (click)="onSortDirection(option.value)">
      </button>
    </div>


    <!-- LAYOUT -->
    <div
      tuiGroup
      class="group"
      [collapsed]="true">

      <button
        tuiIconButton
        size="m"
        type="button"
        class="tui-group__auto-width-item"
        *ngFor="let option of layoutOptions"
        [icon]="option.value === 'list' ? 'tuiIconViewListLarge' : 'tuiIconStructureLarge'"
        [appearance]="listLayout === option.value ? 'secondary-active' : 'secondary'"
        title="Change layout to a {{ option.value === 'list' ? 'list' : 'grid' }} type view"
        (click)="onLayout(option.value)">
      </button>
    </div>
  </div>
</div>
