<tui-root>

  <div [class.grayscale]="isAppOffline">
    <mca-navbar
      [title]="title">
    </mca-navbar>

    <header class="header">
      <a
        tuiIconButton
        type="button"
        size="m"
        icon="tuiIconArrowLeftLarge"
        appearance="flat-dark"
        routerLink="/"></a>

      <h1 class="header__title">{{ routeName | async }}</h1>

      <button
        tuiIconButton
        type="button"
        size="m"
        icon="tuiIconMoreVertLarge"
        appearance="flat-dark"></button>
    </header>

    <div class="page">
      <router-outlet></router-outlet>
    </div>
  </div>

</tui-root>
