@import 'mca-theme-variables';

.header {
	margin: $spacing-300;
	display: grid;
	grid-template-columns: repeat(3, auto);
	align-items: center;
	justify-content: space-between;

	&__title {
		font-size: $heading-400;
		font-weight: 600 !important;
	}
}

.page {
	min-height: calc(100vh - 182px);
	overflow-x: hidden;
	overflow-y: auto;
	margin: $spacing-300 1.3rem $spacing-300 $spacing-300;
}

.grayscale {
	filter: grayscale(1);
}

::ng-deep mca-root {
	display: block;
	max-width: 600px;
	max-height: 2000px;
	overflow-y: auto;
	@apply shadow;
}
