@import "mca-theme-variables";

:host,
:host > div {
	min-height: inherit;
}

a.mat-fab {
	color: #c89851;
	position: fixed;
	right: 25px;
	bottom: 20px;
}

.coffeeList {
	display: grid;

	gap: $spacing-300;
	flex-wrap: wrap;

	&--listView {
		// @apply grid-cols-2 sm:grid-cols-4 md:grid-cols-4 lg:grid-cols-6 xl:grid-cols-10;
		flex-direction: column;
		// grid-template-columns: repeat(auto-fill, 150px);
	}

	&--gridView {
		grid-template-columns: repeat(auto-fill, 150px);
		// @apply grid-cols-2 sm:grid-cols-4 md:grid-cols-4 lg:grid-cols-6 xl:grid-cols-10;
	}
}

/*@apply bg-white text-blue-400 rounded-full;*/
.active {
	background: white;
	border-radius: 9999px;
	color: #63b3ed;
}
