<div>

  <!-- List View Options -->
  <div class="mb-3 text-end">
    <mca-coffee-list-filters
      [filters]="filters"
      [listLayout]="listLayout"
      (filtersUpdate)="updateFilters($event)"
      (layoutUpdate)="updateListLayout($event)">
    </mca-coffee-list-filters>

    <!-- List -->
    <div class="coffeeList coffeeList--{{ listLayout }}View">
      <ng-container *ngFor=" let coffee of coffees$ | async | tuiFilter: matcher:filters.search; let i=index">
        <mca-coffee-card [listLayout]="listLayout" [coffee]="coffee"></mca-coffee-card>
      </ng-container>
    </div>

    <!-- Add new -->
    <div>
      <a mat-fab
        color="primary"
        routerLink="/coffees/add"
        aria-label="add-new-coffee"
        class="position-fixed bottom-0 end-0 m-4">
        <mat-icon>add</mat-icon>
      </a>
    </div>

  </div>

</div>
