<p [ngStyle]="{'color': mainForm.valid ? 'green' : 'red'}">
  Form is {{ mainForm.valid ? 'Valid' : 'Invalid' }}
</p>

<pre>
{{ mainForm.value | json }}
</pre>

<form [formGroup]="mainForm" (ngSubmit)="submitForm(coffee)">
  <!-- About Section -->
  <mca-coffee-details-about-form
    [form]="aboutForm"
    [coffeeTypeOptions]="coffeeTypeOptions">
  </mca-coffee-details-about-form>

  <!-- Location Section -->
  <mca-coffee-details-location-form
    [form]="locationForm">
  </mca-coffee-details-location-form>

  <!-- Rating Section -->
  <mca-coffee-details-rating-form
    [form]="ratingForm">
  </mca-coffee-details-rating-form>

  <div class="tui-form__buttons">
    <button
      tuiButton
      class="tui-form__button"
      size="l"
      type="submit">
      Submit
    </button>

    <button
      tuiButton
      type="button"
      class="tui-form__button"
      appearance="flat"
      size="l"
      (click)="resetForm()">
      Reset
    </button>
  </div>

</form>
