<form
  class="tui-form"
  [formGroup]="mainForm"
  (ngSubmit)="submitForm()">

  <!-- About Section -->
  <mca-coffee-details-about-form
    [form]="aboutForm"
    [coffeeTypeOptions]="coffeeTypeOptions">
  </mca-coffee-details-about-form>

  <!-- Location Section -->
  <mca-coffee-details-location-form
    [form]="locationForm"
    (geolocationGet)="requestGeolocation()"
    (geolocationReset)="resetGeolocation()">
  </mca-coffee-details-location-form>

  <!-- Rating Section -->
  <mca-coffee-details-rating-form
    [form]="ratingForm">
  </mca-coffee-details-rating-form>

  <!-- Buttons -->
  <div class="tui-form__buttons flex justify-between">
    <div class="grid sm:grid-cols-2">
      <button
        tuiButton
        class="tui-form__button"
        size="l"
        type="submit">
        Submit
      </button>

      <button
        *ngIf="!coffeeId"
        tuiButton
        type="button"
        class="tui-form__button"
        appearance="flat"
        size="l"
        (click)="resetForm()">
        Reset
      </button>
    </div>

    <div *ngIf="coffeeId">
      <button
        tuiButton
        type="button"
        class="tui-form__button w-full"
        appearance="flat-danger"
        size="l"
        (click)="deleteCoffee()">
        Delete
      </button>
    </div>
  </div>

</form>
