<div
  class="tui-form"
  [formGroup]="form">

  <!-- Header -->
  <h3 class="tui-form__header tui-form__header_margin-top_none">
    Location
  </h3>
  <p>Please fill in the fields with the café's location details.</p>

  <!-- Cafe Name -->
  <div class="tui-form__row">
    <tui-input
      formControlName="name"
      tuiTextfieldExampleText="Boba Café"
      tuiHintContent="Type the name of the café">
      <span>Café name</span>
      <span class="tui-required"></span>
    </tui-input>

    <tui-field-error formControlName="name"></tui-field-error>
  </div>

  <!-- Cafe Location - Address & City -->
  <div class="tui-form__row">

    <div tuiGroup class="group" [collapsed]="false">
      <div>
        <tui-input
          class="tui-group__inherit-item"
          formControlName="address"
          tuiTextfieldExampleText="Jackson Street 32A"
          tuiHintContent="Type the street and number of the café">
          Address
        </tui-input>
        <tui-field-error formControlName="address"></tui-field-error>
      </div>

      <div>
        <tui-input
          class="tui-group__inherit-item"
          formControlName="city"
          tuiTextfieldExampleText="Café city"
          tuiHintContent="Type the name of the city">
          City
        </tui-input>
        <tui-field-error formControlName="city"></tui-field-error>
      </div>
    </div>

  </div>

  <!-- Latitude & Longitude -->
  <div class="tui-form__row">
    <div tuiGroup class="group my-4" [collapsed]="false">
      <div>
        <tui-input
          class="tui-group__inherit-item"
          formControlName="latitude"
          tuiTextfieldSize="l"
          tuiTextfieldExampleText="Café location latitude"
          tuiHintContent="Press the 'Use my location' button to auto-fill this input">
          Latitude <span>(Optional)</span>
        </tui-input>
        <tui-field-error formControlName="latitude"></tui-field-error>
      </div>

      <div>
        <tui-input
          class="tui-group__inherit-item"
          formControlName="longitude"
          tuiTextfieldSize="l"
          tuiTextfieldExampleText="Café location longitute"
          tuiHintContent="Press the 'Use my location' button to auto-fill this input">
          Longitude <span>(Optional)</span>
        </tui-input>
        <tui-field-error formControlName="longitude"></tui-field-error>
      </div>
    </div>

    <div tuiGroup class="group my-4" [collapsed]="true">
      <button
        tuiButton
        type="button"
        size="m"
        appearance="secondary"
        (click)="requestGeolocation()">
        Use my location
      </button>

      <button
        tuiIconButton
        type="button"
        size="m"
        class="tui-group__auto-width-item"
        appearance="secondary"
        title="Reset"
        icon="tuiIconCloseLarge"
        (click)="resetGeolocation()">
      </button>
    </div>
  </div>

</div>
