@import '../../../../assets/scss/mca-theme-variables';
@import '~@taiga-ui/core/styles/taiga-ui-local';

:host {
	display: inherit;
}

.card {
	$this: &;
	@apply bg-white flex rounded-lg;

	// Modifiers
	&--vertical-cols {
		@apply flex-col;

		#{$this}__media {
			min-height: 165px;
		}

		#{$this}__content {
			margin-top: $spacing-100;
		}
	}

	&:not(.card--vertical-cols) {
		@apply flex-row;

		#{$this}__media {
			min-width: 125px;
			min-height: 145px;
		}

		#{$this}__content {
			margin-left: $spacing-200;
		}
	}

	// Children
	&__media {
		position: relative;
	}

	&__img {
		background-position-y: 25%;
		min-height: inherit;
		@apply bg-cover rounded-lg h-full;
	}

	&__content {
		display: grid;
		grid-template-rows: auto auto 1fr;
		align-items: baseline;
	}

	// Grandchildren
	// Header
	&__header {
		margin-bottom: $spacing-100;

		&:hover {
			cursor: pointer;
		}
	}

	&__title {
		font-size: $heading-100;
		@apply text-gray-800 font-bold;
	}

	&__category {
		color: $accent-500;
		font-size: $text-100;
		font-weight: 500;
	}

	// Main content
	&__body {
		margin-bottom: $spacing-50;
	}

	&__text {
		@apply text-gray-700 mb-2;

		&--muted {
			@apply text-gray-500;
		}
		&--date {
			@apply text-gray-500 mb-0;
			line-height: 1rem;
		}
	}

	// Footer
	&__footer {
		display: flex;
		align-items: center;

		.card__rating {
			margin-left: -6px !important;
		}
	}
}

.mediaIcons {
	position: absolute;
	top: 4px;
	right: 4px;
	gap: 4px;
	display: flex;

	&__icon {
		box-shadow: 4px 4px 20px -5px $accent-500;
		opacity: 0.85;

		&:hover {
			opacity: 1;
		}
	}
}
