<div class="card" [class.card--vertical-cols]="listLayout === 'grid' ? true : false">
  <div class="card__media">

    <a (click)="viewCoffeeDetails(coffee.id)">
      <tui-avatar
        class="card__img"
        [avatarUrl]="coffee.details.imageUrl"
        text="coffeeModel.name"
        size="xxl"
        contentBottom="tuiIconSettings"
        [rounded]="false"></tui-avatar>
    </a>

    <div class="mediaIcons">
      <button
        tuiIconButton
        type="button"
        size="s"
        class="mediaIcons__icon"
        icon="tuiIconPin"
        appearance="secondary"
        (click)="viewOnMap(coffee)"></button>

      <button
        tuiIconButton
        type="button"
        size="s"
        class="mediaIcons__icon"
        icon="tuiIconSubitem"
        appearance="secondary"
        (click)="shareCoffee(coffee)"></button>
    </div>
  </div>

  <!-- Card -->
  <div class="card__content">
    <!-- Title -->
    <a class="card__header" (click)="viewCoffeeDetails(coffee.id)">
      <h6 class="card__title">{{ coffee.details.name }}</h6>
    </a>

    <!-- Content -->
    <div class="card__body">
      <a (click)="viewCoffeeDetails(coffee.id)">
        <p class="card__category">{{ coffee.details.type | titlecase }}</p>
      </a>

      <ng-container *ngIf="listLayout === 'list' && coffee.cafe">
        <small class="card__text card__text--muted">
          <span>{{ coffee.cafe.address }}</span>
          <span>{{ coffee.cafe.city ? ',' : ' ' }}</span>
          <span>{{ coffee.cafe.city }}</span>
        </small>
      </ng-container>
    </div>

    <!-- Actions -->
    <div class="card__footer">
      <button
        tuiButton
        type="button"
        size="s"
        class="card__rating"
        icon="tuiIconStar"
        appearance="flat">
        <span>{{ coffee.tasteRating.overall | number: '1.1-1' }}</span>
      </button>

      <small class="card__text card__text--date">
        {{ coffee.createdAt?.toDate() | timeAgo }}
      </small>

    </div>
  </div>
</div>
