// Tailwind
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import '_tailwind-theme';

// Bootstrap
// @import 'bootstrap-overrides';

// Material
@import 'material-overrides';
@import 'mca-theme';

// Taiga UI
@import 'taiga-ui-overrides';

* {
	font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans',
		'Helvetica Neue', sans-serif;
}

html,
body {
	margin: 0;
	background-color: #fff !important;
}

.grid-auto-column {
	@media screen and (min-width: 768px) {
		grid-auto-flow: column;
	}
}

.mat-card-header-text {
	margin: 0 !important;
}

.logo-font {
	color: #dfc8af;
	font-family: "Quicksand", sans-serif;
	line-height: 28px;
	font-size: 18px;
	font-weight: 700;
	vertical-align: middle;
	letter-spacing: 0.5px;
}

// Headings
h1,
.h1 {
	font-weight: 700;
	font-size: $heading-600;
}
h2,
.h2 {
	font-weight: 700;
	font-size: $heading-500;
}
h3,
.h3 {
	font-weight: 700;
	font-size: $heading-400;
}
h4,
.h4 {
	font-weight: 700;
	font-size: $heading-300;
}
h5,
.h5 {
	font-weight: 700;
	font-size: $heading-200;
}
h6,
.h6 {
	font-weight: 700;
	font-size: $heading-100;
}

// Forms
form {
	max-width: 540px;
}
